<button class="btn btn-primary" (click)="alertService.warning('Operación completada con éxito')">Click - warning</button>
<button class="btn btn-primary" (click)="alertService.success('Operación completada con éxito')">Click - success</button>
<button class="btn btn-primary" (click)="alertService.error('Operación completada con éxito')">Click - error</button>
<button class="btn btn-primary" (click)="alertService.info('Operación completada con éxito')">Click - info</button>
<button class="btn btn-primary" (click)="alertService.loading('Operación completada con éxito')">Click - loading</button>

