<alert />
<div class="bg-white sm:w-120 h-screen sm:h-full rounded-lg m-5 sm:m-15">
  <div class="container flex flex-col mx-auto bg-white rounded-lg pt-12 my-5">
    <div class="flex justify-center w-full h-full my-auto xl:gap-14 lg:justify-normal md:gap-5">
      <div class="flex items-center justify-center w-full lg:p-12">
        <div class="flex items-center xl:p-10 w-full">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
            class="flex flex-col w-full h-full pb-6 text-center bg-white rounded-3xl">
            <h3 class="mb-3 text-4xl font-extrabold text-gray-900">Iniciar Sesión</h3>
            <p class="mb-4 text-gray-700">Ingrese su usuario y contraseña</p>
            <!-- <button type="button" (click)="googleSignIn()"
              class="flex items-center justify-center w-full py-4 mb-6 text-sm font-medium transition duration-300 rounded-2xl text-white bg-base-100 hover:bg-neutral focus:ring-4 focus:ring-gray-300 cursor-pointer">
              <span class="icon-[logos--google-icon] text-2xl mr-2"></span>
              Ingresar con Google
            </button> -->
            <div class="flex items-center mb-3">
              <hr class="h-0 border-b border-solid border-gray-500 grow">
              <p class="mx-4 text-gray-600">or</p>
              <hr class="h-0 border-b border-solid border-gray-500 grow">
            </div>
            <label class="input">
              <span class="icon-[mdi--user] text-2xl"></span>
              <input type="input" formControlName="username" placeholder="Username" />
            </label>
            @if(formutils.isValidField(loginForm, 'username')){
            <span class="text-red-500 text-sm mt-0">
              {{formutils.getFieldError(loginForm, 'username')}}
            </span>
            }
            <!-- <p class="validator-hint">
              Must be 3 to 30 characters
              <br />containing only letters, numbers or dash
            </p> -->
            <label class="input mt-4 relative">
              <span class="icon-[fluent--password-16-filled] text-2xl"></span>
              <input [type]="showPassword() ? 'text' : 'password'" formControlName="password" placeholder="Password" />
              @if(!showPassword){
              <span (click)="togglePasswordVisibility()"
                class="icon-[hugeicons--eye] text-xl cursor-pointer absolute right-4"></span>
              }
              @else {
              <span (click)="togglePasswordVisibility()"
                class="icon-[mdi--eye-off] text-xl cursor-pointer absolute right-4"></span>
              }
            </label>
            @if(formutils.isValidField(loginForm, 'password')){
            <span class="text-red-500 text-sm mt-0">
              {{formutils.getFieldError(loginForm, 'password')}}
            </span>
            }
            <div class="flex justify-between mt-4 mb-8">
              <label class="inline-flex items-center cursor-pointer">
                <input type="checkbox" checked class="sr-only peer">
                <input type="checkbox" formControlName="rememberMe" checked="checked"
                  class="checkbox checkbox-neutral" />
                <span class="ml-3 text-sm font-normal text-gray-900 mr-2">Recordarme</span>
              </label>
              <a href="#" class="text-sm font-medium text-base-100">Olvide mi contraseña?</a>
            </div>
            <button type="submit"
              class="w-full px-6 py-5 mb-5 text-sm font-bold text-white bg-base-100 rounded-2xl hover:bg-neutral focus:ring-4 cursor-pointer">Ingresar</button>
            <p class="text-sm text-gray-900">No tienes cuenta? <a (click)="createAccount()"
                class="font-bold text-gray-700 cursor-pointer">Crear Cuenta</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
